@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-font:"Poppins", serif;
  --secondary-font:"Inter", serif;
  --ternary-font:"Red Hat Display", serif;

}

body{
  font-family:var(--primary-font);
}

