@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --coffee:#6D5C47;
  --primary-font:"Poppins", serif;
  --secondary-font:"Inter", serif;
  --ternary-font:"Red Hat Display", serif;

}

body{
  font-family:var(--secondary-font);
}
.poppins{
  font-family:var(--primary-font);
}
.redhat{
  font-family:var(--ternary-font);
}
.cofee{
  color:var(--coffee)
}